{% extends "base.html" %}
{% load static %}

{% block title %}All the Cookie Stands - Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="space-y-8">

      <h2 class="text-4xl">Hi {{ user.username }}!</h2>
      <p>Welcome to Cookie Stands! We are happy to have you here.</p>
      <p>Here you will find our wonderful List and Create feature in the Nav bar.</p>
    </div>

  {% else %}

    <div class="">
      <div class="hero-content flex bg-red-300 p-4 space-x-4">
        {#  Thanks to https://unsplash.com/photos/Kw_zQBAChws?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink#}
        <div class="bg-green-300 p-4">
          <h1 class="text-5xl font-bold">Cookie Stands</h1>
          <p class="text-2xl p-6">Welcome to Cookie Stands! We have any cookie you could possible image!</p>
          <a href="{% url 'login' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Get Started</a>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
